/* common text */
.txt-title-box {
  text-align: center;
}
.txt-title-box span {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  color: #111;
  letter-spacing: -0.03em;
}
.txt-sb-tit {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  font-size: 18px;
  color: #454545;
}

.txt-title-box svg {
  overflow: inherit;
}

.section-2 .txt-title-box svg {
  position: absolute;
  top: 45px;
  left: 0;
}
.section-2 .txt-title-box .draw-line {
  display: none;
}
.section-2 .txt-title-box.ani .draw-line {
  display: block;
  stroke-width: 4;
  ll-mode: both;
}

/* ¼îÇÎ¸ô ¿î¿µ ¼­ºñ½º */
.section-2 {
  height: 1160px;
  box-sizing: border-box;
  padding-top: 70px;
  background-color: #e6e7e9;
  width: 100%;
}
.section-2 .txt-title-box {
  text-align: left;
  margin-top: 70px;
}
.section-2 .txt-title-box span {
  line-height: 52px;
}
.section-2 .txt-title-box span.on:before {
}
.section-2 .txt-title-box span:after {
  display: block;
  content: '';
  width: 90px;
  height: 75px;
  background: url(https://img.godo.co.kr/godomall_v2/main/icon_cl_2_2.png) no-repeat 0 0;
  position: absolute;
  top: 78px;
  right: -77px;
  background-size: 100%;
}
.section-2 .txt-title-box em:before {
  display: block;
  content: '';
  width: 51px;
  height: 39px;
  background: url(https://img.godo.co.kr/godomall_v2/main/icon_cl_2_3.png) no-repeat 0 0;
  position: absolute;
  top: 35px;
  right: -126px;
  background-size: 100%;
}
.section-2 .txt-sb-tit {
  text-align: left;
  line-height: 30px;
}
.section-2 .guide-wrap {
  position: relative;
}
.section-2 .service-cont .item-box {
  -webkit-transform: translate(0px, 200px);
  -moz-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate(0px, 200px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.section-2 .service-cont .item-box {
  display: block;
  width: 282px;
  height: 440px;
  padding: 30px 29px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 18px 18px 13px rgba(0, 0, 0, 0.07);
  background: #fff;
  opacity: 0;
  transition: all 1s;
}
.section-2 .service-cont .item-box.on {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
.section-2 .service-cont .item-box:hover {
  -webkit-transform: translate(0px, -20px);
  -moz-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}
.section-2 .service-cont .item-box .svc-txt-1 {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #111;
  letter-spacing: -0.03em;
}
.section-2 .service-cont .item-box .svc-txt-2 {
  display: block;
  margin-top: 6px;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #454545;
}
.section-2 .service-cont .item-box .btn-detail {
  display: inline-block;
  margin-top: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 15px;
  color: #f7444e;
  letter-spacing: -0.03em;
  background: url(https://img.godo.co.kr/godomall_v2/main/icon_arrow.png) no-repeat 100% 6px;
  background-size: 17px 9px;
}
.section-2 .service-cont .item-box.pot-1 {
  position: absolute;
  left: 815px;
  top: -70px;
  background: #fff url(https://img.godo.co.kr/godomall_v2/main/bg_service_1.png) no-repeat 100% 100%;
  background-size: 100%;
}
.section-2 .service-cont .item-box.pot-2 {
  position: absolute;
  left: 473px;
  top: 132px;
  background: #fff url(https://img.godo.co.kr/godomall_v2/main/bg_service_2.png) no-repeat 100% 100%;
  background-size: 100%;
}
.section-2 .service-cont .item-box.pot-3 {
  position: absolute;
  left: 130px;
  top: 390px;
  background: #fff url(https://img.godo.co.kr/godomall_v2/main/bg_service_3.png) no-repeat 100% 100%;
  background-size: 100%;
}
.section-2 .service-cont .item-box.pot-4 {
  position: absolute;
  left: 815px;
  top: 430px;
  background: #fff url(https://img.godo.co.kr/godomall_v2/main/bg_service_4.png) no-repeat 100% 100%;
  background-size: 100%;
}
.section-2 .service-cont .item-box.pot-5 {
  position: absolute;
  left: 473px;
  top: 632px;
  background: #fff url(https://img.godo.co.kr/godomall_v2/main/bg_service_5.png) no-repeat 100% 100%;
  background-size: 100%;
}
